section{
    display: flex;
    /* default is no wrap */
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    
}


img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }